body {
	background-color: #242423;
	color: #F2F2F2;
	font-family:Verdana, sans-serif;
	font-size:1.15em;
	text-align: center;
	margin: 0;
	padding: 0;

}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

p.title {
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-family: 'Courier New', monospace;
}

hr {
	margin-bottom: 50px;
	margin-top: 50px;
}

.bucket {
			list-style-type: none;
			margin: 0;
			padding: 0;
}

.bucket li {
			margin-left: 350px;
			margin-right: 350px;
			margin-bottom: 10px;
			background-color: #383838;
			padding: 10px;
			border-radius: 5px;
}

.bucket li img {
	float: left;
}

h3#header {
	margin-top: 200px;
	padding-bottom: 30px; 
}

.container 
{
	display: flex;
	justify-content: center;
}	

.card 
{
	background-color: #383838;
	width: 270px;
	height: 400px;
	margin: 3px;
}

.card-img img
{
	background-color: #CCCCCC;
	border-radius: 15px;
	margin-top: 20px;
	width: 70px;
	height: auto;
}

.card p {
	margin: 15px;
	text-align:left;
	font-family: 'Courier New', monospace;
}

.card h4 {
	margin: 25px;
	font-family: 'Courier New', monospace;
}

.link {
	padding-top: 200px;
	color: #CCCCCC;
}